<html>
<head>
    <title>Aplikacja</title>
    <meta charset="utf-8" />
    <meta translate="yes" />
    <meta draggable="auto" />

    </head>
<body>


    <center><h2 class="bg-info">ASP.NET MVC</h2></center>
    <hr />

    <h3>What's MVC about?</h3>
    <p>
        <i><a href="https://pl.wikipedia.org/wiki/ASP.NET_MVC">ASP.NET MVC</a></i> is basically a web development framework from <a href="https://www.microsoft.com/">Microsoft</a>, which combines the features of MVC (Model-View-Controller) architecture, the most up-to-date ideas and techniques from Agile development, and the best parts of the existing <a href="https://dotnet.microsoft.com/apps/aspnet">ASP.NET</a> platform.
    </p>
    <p>It's not something, which is built from ground zero. It is a complete alternative to traditional <a href="https://dotnet.microsoft.com/apps/aspnet">ASP.NET</a> Web Forms. It is built on the top of <a href="https://www.microsoft.com/">Microsoft</a>, which combines the features of MVC <dfn>(Model-View-Controller)</dfn> architecture, the most up-to-date ideas and techniques from <a href="https://en.wikipedia.org/wiki/Agile_software_development">Agile</a> development, and the best parts of the existing <a href="https://dotnet.microsoft.com/apps/aspnet">ASP.NET</a>, so developers enjoy almost all the ASP.NET features while building the MVC application.</p>

    <a class="btn btn-info" href="https://dotnet.microsoft.com/learn/aspnet/what-is-aspnet">  Do you want to see more?</a>

    <hr />

    <h3 class="bg-primary">Entity Framework</h3>
    <img src="https://img2.pngio.com/ualts-entity-framework-entity-framework-png-400_400.png" ; width="100" height="100" alt="Entity Framework Logo" />

    <p><strong>What's EF?</strong></p>
    <p>
        <a href="https://docs.microsoft.com/en-us/ef/">Entity Framework</a> (EF) is an open source <dfn>object-relational mapping</dfn> (ORM) framework for <a href="https://docs.microsoft.com/en-us/dotnet/framework/data/adonet/ado-net-overview">ADO.NET</a>. It was a part of <a href="https://en.wikipedia.org/wiki/.NET_Framework">.NET Framework</a>, but since Entity Framework version 6 it is separated from .NET framework.

    </p>


    <p>
        <ul class="list-group">
            <li class="list-group-item active">Architecture</li>
            <li class="list-group-item"><span class="glyphicon glyphicon-check"></span><b> Data source specific providers</b>, which abstract the ADO.NET interfaces to connect to the database when programming against the conceptual schema.</li>
            <li class="list-group-item"><span class="glyphicon glyphicon-check"></span><b>  Map provider</b>, a database-specific provider that translates the Entity SQL command tree into a query in the native SQL flavor of the database.</li>
            <li class="list-group-item"><span class="glyphicon glyphicon-check"></span><b>  EDM parser and view mapping</b>, which takes the SDL specification of the data model and how it maps onto the underlying relational model and enables programming against the conceptual model.</li>

        </ul>


    </p>

    <

    @{ if (User.Identity.IsAuthenticated)
        {

            <h3>A few video tutorials.</h3>
            <div class="row">
                <div class="col-md-3">
                    <iframe width="280" height="157" src="https://www.youtube.com/embed/E7Voso411Vs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col-md-3">
                    <iframe width="280" height="157" src="https://www.youtube.com/embed/phyV-OQNeRM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class="col-md-3">
                    <iframe width="280" height="157" src="https://www.youtube.com/embed/X-wXDdcmUfM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class="col-md-3">
                    <iframe width="280" height="157" src="https://www.youtube.com/embed/p9GdkmFzoPw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>


            </div>

        };


    }


</body>

   

</html>